*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

header {
    flex-basis: 5%;
    background-color: rgb(255, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: white;
}

header menu {
    flex-basis: 5%;
}

header #buscar {
    flex-basis: 30%;
    background-color: blue;
}

header #enlaces {
    flex-basis: 10%;
    background-color: orange;
}

header figure {
    background-color: rebeccapurple;
    flex-basis: 10%;
}
main {
    flex-basis: 65%;
    background-color: rgb(255, 251, 0);
}

footer {
    flex-basis: 30%;
    background-color: rgb(255, 0, 0);
}

