*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;     /* Medida fija/absoluta --> px*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

}

header {
    /*flex-basis: 5%; /* altura/anchura relativa % */
    height: 10vh; /* altura fija adapta a viewport*/
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
}

header menu {
    flex-basis: 5%;
}

header #buscar {
    flex-basis: 30%;
    background-color: rgb(255, 0, 0);
}

header #enlaces {
    flex-basis: 10%;
    background-color: orange;
}

header figure {
    flex-basis: 10%;
    height: 100%;

}
header figure img {
    
    height: 100%;
    
}

header form {
    flex-basis: 20%;
    height: 100%;
    display: flex;
    background-color: red;
    flex-direction: column; /* Eje principal columma*/
    justify-content: center; /* alineacion eje principal*/
    align-items: center;

}
header form input {
    flex-basis: 80%; 
    width: 80%;
    border-radius: 20px;
    font-size: 20px;
    color: rgb(0, 38, 255);
    background-color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
main {
    flex-basis: 65%;
    background-color: rgb(204, 71, 71);
    text-align: center;
}

footer {
    flex-basis: 30%;
    background-color: rgb(255, 253, 253);
    text-align: center;
}

