* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* medida fija/absoluta --> px */
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header {
    /* altura/anchura relativa % */
    /* flex-basis: 5%; */ /* relativo */
    height: 5vh; /* altura fija/absoluta adapta viewport */
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: space-between; */
    align-items: center;
    color: white;
}
header #menu {
    flex-basis: 5%;
}

header #buscar {
    flex-basis: 30%;
    background-color: blue;
}
header figure {
    flex-basis: 10%; /* WIDTH */
    height: 100%;
}
header figure img{
    height: 100%; /* 70% de la height del padre */
}
header form{
    flex-basis: 20%; /* WIDTH */
    height: 100%;
    background-color: red;
    display: flex;
    flex-direction: column; /* eje principal columna */
    justify-content: center; /* alineacion en eje principal */
    align-items: center; /* alineacion en eje secunfdario */
}

header form input{
    flex-basis: 50%; /* height */
    width: 80%;
    border-radius: 20px;
    font-size: 20px;
    color: blue;
    background-color: bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header #enlaces {
    background-color: yellow;
    flex-basis: 30%;
}
main {
    flex-basis: 65%;
}
main section {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 3px solid red;
}
main section article {
    position: relative;
    border: 1px solid black;
    flex-basis: 24.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* top left bottom right */
    /* distantia exterior */
    margin: 5px 0px 5px 0px ;

    border-radius: 8px;
    /* distancia interior (relleno) al contenido */
    padding: 5px 10px 5px 10px;
    /* efecto sombra */
    /* efecto reposo --> animacion */
    transition: all .2s ease-in;
}
main section article:hover{
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.1) ;
    /* efecto sobre */
    transform: translateY(-3px);
    background-color: antiquewhite;
}

main section article .envio{
    top:50px;
    left:10px;
    position:absolute;
    right:0px;
    background-color: rgb(202,78,148);
    border-radius: 5px;
    padding: 3px;
    color: white;
    font-weight: bold;
    width: 40%;

}
main section article figure{
flex-bassis:50%;
display:flex;
flex-direction: column;
justify-content: center;

}

main section article .valoraciones {
    border: 1px solid red;
    width: 100%;
    width: 80%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

main section article .valoraciones .star {
    margin-right:10px;
}

.star i {
    color:yellow;
    font-size:12px;
}

main section article .valoraciones .nvaloraciones {
    font-size:10px;
    font-weight: bold;
    margin-right:10px;
}

main section article .valoraciones .comentarios {
    font-size:10px;
    font-weight: bold;
}

main section article figure img{
    
}
main section article p{

}
main section article p{

}

main section article .nombre{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow'
}

main section article .caracteristicas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

main section article .caracteristicas .cpu {
    flex-basis: 100%;
    text-align: center;
}

main section article .caracteristicas .ram {
    flex-basis: 50%;
    text-align: start;
}

main section article .caracteristicas .disco {
    flex-basis: 50%;
    text-align: end;
}


footer {
    flex-basis: 30%;
    background-color: black;
    display: flex;
    flex-direction: row;
    /* todos los hijos (items) en una sola linea */
    /*flex-wrap: nowrap;*/
    /* todos los hijos (items) en varias lineas en funccion flexbasic */
    flex-wrap: wrap;
}
footer nav#sociales {
    background-color: none;
    flex-basis: 50%; /* height (columno) / width (row) */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 30px;

}
footer nav#sociales a{
    /* estado de reposo del enlace (fotograma) */
    text-decoration: none;
    border: 0px solid black; 
    background-color: lightgreen;
    /* elemento en linea pero con propiedades de bloque */
    display: inline-block;
    
    width: 30px;
    height: 30px;
    border-radius:50px;
    margin-right: 7px;;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* realizar un cambio animado */
    transition: all 0.3s ease-in-out;
}

footer nav#sociales a:hover{
    /* estado sobre (fotograma) */
    transform: 
        translate(0px, -10px) 
        rotate(60deg)
        scale(1.2);
}


footer nav#sociales a i {
    font-size: 20px;
    color: white;
}
    
footer div#subscribete{
    background-color: burlywood;
    flex-basis: 50%;
    
}

footer article{
    background-color: cadetblue;
    flex-basis: 33%;
}
footer article h3{
    color: whitesmoke;
    text-transform: uppercase;
    margin-left: 15px;
    margin-bottom: 20px;
    margin-top: 15px;
}
footer article nav {
    display: flex;
    flex-direction: column;
    border: 1px solid none;
    margin-left: 25px;
    /*padding-left: 30px;*/
}
footer article nav a{
    border: 1px solid none;
    text-decoration: none;
    /* margin-left: 15px; */
    margin-bottom: 10px;
}
footer article nav a i{
    font-size: 20px;
    color: whitesmoke;
}
footer article nav a span{
    color: whitesmoke;
}

footer article nav a:hover span{
    color: lightgreen
}
footer article nav a:hover i{
    /* colorfooter article nav a:hover span{
    color: lightgreen
}: red */
}

article {
  display: flex;
  
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  margin: 10px;
  width: 300px;
}


.star i {
  color: yellow;
  font-size: 12px;
  margin-right: 2px;
}



.dto {
  background-color: rgb(240, 5, 197);
  color: white;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  text-align: left;
}

.pvr {
  text-decoration: line-through;
  color: gray;
  margin-left: 10px;
  display: flex;
  justify-content: end;
  text-align: center;
  gap: 10px;
}

.pvp {
  color: green;
  font-size: 18px;
  font-weight: bold;
  text-align: right;
  margin-left: auto;
}

