*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.grip-container{
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.grip-container div{
    border: 1px solid black;
    padding: 20px;
    text-align: center;
}

body {
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 20vh 60vh 20vh;

}

header {
    background-color: lightblue;
    border: 1px solid black;
    grid-row: 1 / 2;
    grid-column: 1/ 4;
}

main {
}

nav {
    background-color: red;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

section {
    border: 1px solid rgb(81, 27, 244);
    gird-row: 2 / 3;
    grid-column: 2 / 3;
}

aside {
    border: 1px solid black;
}

footer {
    border: 1px solid black;
}