*{  /*selector universal  - a todos los elementos html */
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*modelos de cajas CSS */
    
}   

body {
    background-color: pink;
    height: 100vh;
    /*min height: 100vh; */
    /*max height: 100vh; */
    width: 100vw;
    /*min height: 100vw; */
    /*max width: 100vw; */



}

 h1 {
    color:rgb(255, 12, 154);
    
}

/*Elemento de bloque : header, footer, main... */
header h1 {
    color: rgb(255, 255, 255);
    border: 1px solid rgb(246, 4, 4); 
    text-align: center;
    display: flex;
    /* Opcion 2 de alineado al centro*/
    flex-direction: column;
    justify-content: center;
    /* opcion 1 de alineado en el centro
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    */
    
   

}

header nav a {
        color:rgb(212, 222, 11);
        border: 1px solid black;
        display: inline-block;
        margin-right: 20px;
        text-decoration: none;  /* quitar subrayado */
        font-size: 20px;
        padding: 5px;
        border-radius: 10px;
       /* display: block; /*  transformando elementos de linea en elementos de bloque */
}

header nav a:hover {
    background-color: rgb(8, 255, 255);
}
header {
    background-color: rgb(70, 96, 174);
    height: 10vh;
    text-align: center;
    /* Header es un contenedor flexible */
    display: flex;
    flex-direction: row; /*direccion de los elementos hijos */
    flex-wrap: nowrap; /* todos los hijos en una sola linea */
    justify-content: space-between; /* distribucion horizontal de los hijos */
}

header nav {
    text-align: center;
    border: 1px solid rgb(250, 0, 0);
    padding: 10px;
    display: flex;
    flex-direction: row; /* Todos los hijos en una sola linea */
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

}

header figure{
    border: 1px solid rgb(0, 255, 0);
    background-color: wheat;
  
}

header figure img {
    height: 100%;
}

main {
    background-color: rgb(153, 153, 153);
    height: 78vh;
    display:flex;
    flex-direction: row;
    
}

main nav {
        border:2px solid rgb(0, 0, 0);
        flex-basis: 20%;
}

main section {
        border:2px solid rgb(0, 0, 0);
         flex-basis: 60%;

}

main aside {
        border:2px solid black;
        flex-basis: 20%;

}

footer {
    background-color: grey(158, 61, 61);
    height: 10vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: relative;
    bottom: 0;
}

footer div {
    flex-basis: 50%;
    border: 2px solid black;
    flex-direction: row;
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    
   
}

footer nav {
    border: 2px solid black;
    flex-basis: 50%;
    text-align: left;
}

footer nav figure {
    height: 100%;
}

footer nav figure img {
    
  height: 100%;
}