main {
    flex-direction: row;
    gap: 30px;
}

aside:first-of-type {
    flex: 0 0 20%;
    order: 1;
}

section {
    flex: 1;
    order: 2;
}

.info {
    display: block;
    flex: 0 0 25%;
    order: 3;
}

nav ul {
    gap: 30px;
}

nav a {
    font-size: 16px;
}

header h1 {
    font-size: 28px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav {
    flex: 1;
    margin-left: 40px;
}

footer {
    flex-direction: row;
    justify-content: space-around;
}